<!-- Main -->
<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmTsTVRhRd9t0zfTIt6yE9Q1msEie7RG8" async defer></script> -->
<section id="main" class="wrapper">
    <div class="container">
        <header class="major">
            <h2>Ofertas</h2>
            <p>Aquí puedes ver las ofertas disponibles en tu zona</p>
        </header>

        Filtrar Ofertas: <input type="text" class="filtre" ng-model="filtro"><br>
        <div class="image fit"> 
            <!-- Se escribe un mapa con la localizacion anterior-->
           
           
            <div class="ofertas" > 
                <div class="of"  ng-repeat="of in filteredOfertas| filter:filtro" id="{{of.id}}">
                        <div class="tarjeta">
                    <div ng-click="select(of.id)">
                        
                        <div class="imagen"><img src="{{of.picture}}" alt=""></div>
                        <div class="nombre">{{of.name}}</div>
                        <div class="fecha"> Fecha: {{of.date}}</div>
                        <div class="hora"> Status: {{of.status}} % </div>
                        <div class="precio"> Precio: {{of.price}} €</div>
                        <div class="details" ><a href='#/ofertas/{{of.idProduct}}'>Ver más</a></div>
                    </div>
                    </div>
                </div>
                <div id="pager">
                    <uib-pagination class="pagination-sm" total-items="oferta.length" ng-model="currentPage"
                    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
            
                <!-- <uib-pagination total-items="oferta.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination> -->
</div>
            </div>
        </div>
    </div>
</section>
