
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyyj1BZq-g4LSGLTZHlKSHs8sXJS2C6o4" async defer></script>
<br/>
<div id="contenido" class="row">
    <br>
    <div class="off_izq">
        <div class="title"><h2>Oferta</h2></div>
        <div class="control-group">
            Nombre del componente: {{data.name}}
        </div>
        <div class="control-group">
            Type de componente: {{data.type}}
        </div>
        <div class="control-group">
            Precio: {{data.price}}
        </div>
        <div class="control-group">
            Día: {{data.status}}
        </div>
        <div class="control-group">
            Fecha de ingreso: {{data.date}}
        </div>
        <div class="control-group">
            marca: {{data.marca}}
        </div>
        <div class="control-group">
            Localización: {{data.location}}
        </div>
        <div class="control-group">
            Descripción: {{data.description}}
        </div>
        <div class="control-group">
           <img src="{{data.picture}}" alt="" width="25%" height="25%">
        </div>
        <div id='ubicacion'></div>
        <!-- Se escribe un mapa con la localizacion anterior-->
        <div id="demo">{{demo}}</div>
        <div id="mapholder"></div>
        <div class="ofertas" > 
    </div>

    <!-- <div class="off_der">
        <div class="title"><h2>Acompañante</h2></div>
        <div class="control-group av">
            <img id="off_avatar" src="{{usuario.avatar}}" />
        </div>
        <div class="control-group">
            Nombre: {{usuario.nombre}} {{usuario.apellidos}}
        </div>
        <div class="control-group">
            Valoración: <div class="rank">
                <div class="heart" ng-repeat="i in getTimes(usuario.rankYes) track by $index" ><img src="frontend/assets/media/2.PNG"/></div>
                <div class="heart" ng-repeat="i in getTimes(usuario.rankNo) track by $index"  ><img src="frontend/assets/media/1.PNG"/></div>
            </div>
        </div>
        <div class="control-group buttons">
            <div class="button special">Enviar mensaje</div>   
            <div class="button special">Agregar como amigo</div>   
        </div>
    </div> -->
</div>
