<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Spectral</h2>
		<ul class="actions">
			<li><a href="#/" class="button special">Activate</a></li>
		</ul>
	</div>
	<a href="#products" class="more scrolly">Componentes</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<input type="text" name="" ng-model="keywords" id="" placeholder="Search your favorite products">
		<input type="button" class="button fit" ng-click="search()" value="Search">
	</div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<ul class="features">
			<li><a href="#/ofertas/tipo/procesador" >
				<h1>Procesadores</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/placaBase">
				<h1>Placas Base</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/discoDuro">
				<h1>Discos Duros</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/tarjetaGrafica">
				<h1>Tarjetas Gráficas</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/ram">
				<h1>Memoria RAM</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/grabadora">
				<h1>Grabadoras</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/disquetera">
				<h1>Disqueteras</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/multilector">
				<h1>Multilectores</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/tarjetaSonido">
				<h1>Tarjetas de Sonido</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/torre">
				<h1>Torres</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/ventilacion">
				<h1>Ventilación</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
			<li><a href="#/ofertas/tipo/fuenteAlimentacion">
				<h1>Fuentes Alimentación</h1>
				<p>Augue consectetur sed interdum imperdiet et ipsum.</p>
			</a></li>
		</ul>
	</div>
</section>



<!-- Two -->
<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
			<h2>Magna primis lobortis<br />
			sed ullamcorper</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
			<h2>Tortor dolore feugiat<br />
			elementum magna</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
			<h2>Augue eleifend aliquet<br />
			sed condimentum</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
</section>



<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Arcue ut vel commodo</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>