<br>
<div class="container">
    <form id="admin_form" name="admin_form" class="form-contact">
        <br />
        <div class="form-title"><h2 class="form-contact-heading">Bienvenido al Panel de Administrador</h2></div>
        <p>¿Que deseas administrar?</p>

        <a href="#/admin/list"><input class="btn btn-primary" type="button" name="submit" id="UsersBtn" value="Administrar Usuarios"/></a>

        <a href=""><input class="btn btn-primary" type="button" name="submit" id="OfertasBtn" value="Administrar Ofertas"/></a>
      
    </form>
</div> <!-- /container -->
